.home-bg-container {
  background-color: beige;
  padding: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-head {
  font-family: 'Bree Serif';
  font-size: 40px;
  text-align: center;
}
.home-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  border-width: 0px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}
.head-span {
  color: red;
}
