.bg-container {
  background-image: linear-gradient(to Bottom, #181616, #766c6c, #d0c7c7);
  padding: 40px;
}
.canvas {
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  border-width: 0px;
  width: 1000px;
  height: 600px;
  margin: 20px;
  list-style-type: none;
}
.undo-button {
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.main-editor {
  display: flex;
  flex-direction: row;
}
.font-families-list {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
}
.editing-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c7c5de;
  padding: 25px;
  border-radius: 3px;
  border-width: 0px;
  margin: 20px;
  width: 400px;
}
.label-element {
  font-family: 'Roboto';
  font-weight: 500;
  color: #181616;
}
.editing-tools {
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.input-element {
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  border-width: 0px;
  width: 40px;
  font-size: 17px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.arrow-icon {
  cursor: pointer;
}
.label-element2 {
  font-family: 'Roboto';
  font-weight: 500;
  color: #181616;
}
.color-list {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border-width: 0px;
  margin: 10px;
}
.add-text-button {
  padding: 10px;
  background-color: white;
  font-weight: 500;
  font-family: 'Roboto';
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0px;
}
.form {
  display: flex;
  flex-direction: column;
}
